/* Estilos Globais */
.body {
    font-family: Arial, sans-serif;
    margin: 10;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;

  }
  
  /* Cabeçalho */
  .header {
    background-color: #131414;
    color: white;
    padding: 1rem;
    text-align: center;
  }
  
  .header nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  .header nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  .header nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  .h2{
    text-align: center;
    margin: 15px;
  }
  .descritivo{
    text-align: center;
  }
  
  
  /* Rodapé */
  .footer {
    background-color: #1b1919;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  